<html>
  <head>
    <script data-main='src/app' src='lib/require.js'></script>
  </head>
  <body>
    <h3>JSON読み込みサンプル</h3>
    <div class='dataArea'>
      <button id='userLibrary'>読み込み開始</button>
      <script type='text/template' id='itemTemplate'>
        ファイル名：<%= path %>説明：<%= description %>
      </script>
    </div>
    <script id="list-layout" type="text/html">
      <div class='collection'>
        <ul></ul>
      </div>
    </script>
    <div class='itemArea'>
      <script type='text/template' id='itemAreaTemplate'>
        アイテム名：<%= name %>
      </script>
    </div>
  </body>
</html>
