<html>
  <head>
    <link rel='stylesheet' href='./css/style.css' type='text/css'>
    <script data-main='src/app' src='lib/require.js'></script>
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
                                for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
                            mixpanel.init("230d3d0dad14278ef1ee9db7994b5430");</script><!-- end Mixpanel -->
  </head>
  <body>
    <h3>メイン領域</h3>
    <div id='mainArea'>
      <div id="main-header">
      </div>      
    </div>
    <script type='text/template' id='main-view-template'>
      <h4>詳細情報</h4>
      <div id="main-contents">コンテンツを表示</div>
    </script>

    <script type='text/template' id='main-header-template'>
      <h4>ヘッダー領域です</h4>
      <ul>
        <li><%- name %></li>
        <li><%- title %></li>        
      </ul>

    </script>
    
    <h3>JSON読み込みサンプル</h3>
    <section id='main'>
      <button id='userLibrary'>読み込み開始</button>
    </section>


    <script type='text/template' id='table-template'>
      <h3>テーブル情報</h3>
      <table>
        <tbody class='contents'>
        </tbody>
      </table>
    </script>

    <script type='text/template' id='row-template'>
      ファイル名：<%= path %>
      説明：<%= description %>
    </script>
    <hr/>
    <h3>UI要素のクリックイベントサンプル</h3>
    <ul id='tabs'>
      <script type="text/template" id="tab">
        <a href="<%- href %>">
          <%- tabName %>
        </a>
      </script>
    </ul>
  </body>
</html>
